.featured-blog-post{
    
}

.featured-blog-post__title{
    font-weight: 400;
    font-size: 1.2em;
}

.featured-blog-post__author{
    font-weight: 300;
    font-style: italic;
    font-size: 0.9em;
    padding-bottom: 10px;
}

.featured-blog-post__content{
    font-weight: 400;
    padding-bottom: 25px;

}